{% load static %}

<footer class="footer__area">
    <div class="footer__top">
        <div class="container">
            <div class="row">
                <!-- Company Info Section -->
                <div class="col-xl-6 col-lg-4 col-md-6">
                    <div class="footer__widget">
                        <div class="logo mb-35">
                            <a href="{% url 'homepage' %}">
                                <img src="{% static 'assets/img/logo/Hello IT Academy white.svg' %}" alt="Hello IT Academy logo">
                            </a>
                        </div>
                        <div class="footer__content">
                            <p>Welcome to Hello IT Academy, where we empower students through hands-on, project-based learning. Our courses in IT, programming, and software development are designed to help you succeed in the fast-growing technology field.</p>
                            <ul class="list-wrap">
                                <li>RK Iconics, 150 ft Ring Road, Nr. Ayodhya Circle, Rajkot, Gujarat</li>
                                <li>+91-8511583131</li>
                                <li><a href="mailto:info@helloitacademy.com">info@helloitacademy.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Our Company Links Section -->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h4 class="footer__widget-title">Our Company</h4>
                        <div class="footer__link">
                            <ul class="list-wrap">
                                <li><a href="{% url 'aboutus' %}">About Us</a></li>
                                <li><a href="{% url 'contactus' %}">Contact Us</a></li>
                                <li><a href="{% url 'projects' %}">Our Projects</a></li>
                                <li><a href="{% url 'courses' %}">Our Courses</a></li>
                                <li><a href="{% url 'blog' %}">Blog</a></li>
                                <li><a href="{% url 'registration' %}">Enroll Now</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Get In Touch Section -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="footer__widget">
                        <h4 class="footer__widget-title">Get In Touch</h4>
                        <div class="footer__contact-content">
                            <p>Have questions? Get in touch with us to learn more about our project-based learning approach and IT training programs.</p>
                            <a class="btn" href="{% url 'contactus' %}">Contact US</a>
                        
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom Section -->
    <div class="footer__bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <div class="copy-right-text">
                        <p>© 2010-2024 Hello IT Academy. All rights reserved. We offer high-quality IT training courses for students worldwide. Learn coding, programming, software development, and more with project-based learning.</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="footer__bottom-menu">
                        <ul class="list-wrap">
                            <li><a href="terms-of-use.html">Terms of Use</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
