{% load static %}


<script src="{% static "assets/js/vendor/jquery-3.6.0.min.js" %}"></script>
<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
<script src="{% static "assets/js/imagesloaded.pkgd.min.js" %}"></script>
<script src="{% static "assets/js/jquery.magnific-popup.min.js" %}"></script>
<script src="{% static "assets/js/jquery.odometer.min.js" %}"></script>
<script src="{% static "assets/js/jquery.appear.js" %}"></script>
<script src="{% static "assets/js/tween-max.min.js" %}"></script>
<script src="{% static "assets/js/select2.min.js" %}"></script>
<script src="{% static "assets/js/swiper-bundle.min.js" %}"></script>
<script src="{% static "assets/js/jquery.marquee.min.js" %}"></script>
<script src="{% static "assets/js/tg-cursor.min.js" %}"></script>
<script src="{% static "assets/js/vivus.min.js" %}"></script>
<script src="{% static "assets/js/ajax-form.js" %}"></script>
<script src="{% static "assets/js/svg-inject.min.js" %}"></script>
<script src="{% static "assets/js/jquery.circleType.js" %}"></script>
<script src="{% static "assets/js/jquery.lettering.min.js" %}"></script>
<script src="{% static "assets/js/wow.min.js" %}"></script>
<script src="{% static "assets/js/aos.js" %}"></script>
<script src="{% static "assets/js/main.js" %}"></script>
<script>
    SVGInject(document.querySelectorAll("img.injectable"));
</script>