{% load static %}

<section class="fact__area">
    <div class="container">
        <div class="fact__inner-wrap">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="fact__item">
                        <h2 class="count"><span class="odometer" data-count="45"></span>K+</h2>
                        <p>Active Students</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="fact__item">
                        <h2 class="count"><span class="odometer" data-count="89"></span>+</h2>
                        <p>Faculty Courses</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="fact__item">
                        <h2 class="count"><span class="odometer" data-count="156"></span>K</h2>
                        <p>Best Professors</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="fact__item">
                        <h2 class="count"><span class="odometer" data-count="42"></span>K</h2>
                        <p>Award Achieved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>