{% load static %}

<section class="fact__area">
    <div class="container">
        <div class="fact__inner-wrap">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="fact__item">
                        <h2 class="count"><span class="odometer" data-count="15"></span>+</h2>
                        <p>Active Students</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="fact__item">
                        <h2 class="count"><span class="odometer" data-count="8"></span>+</h2>
                        <p>Live Projects</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="fact__item">
                        <h2 class="count"><span class="odometer" data-count="12"></span>+</h2>
                        <p>Active Courses</p>
                    </div>
                </div>
                {% comment %} <div class="col-lg-3 col-sm-6">
                    <div class="fact__item">
                        <h2 class="count"><span class="odometer" data-count="42"></span>K</h2>
                        <p>Award Achieved</p>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</section>