{% load static %}

<section class="courses-area section-pt-120 section-pb-90" data-background="{% static "assets/img/bg/courses_bg.jpg" %}">
    <div class="container">
        <div class="section__title-wrap">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section__title text-center mb-40">
                        <span class="sub-title">Top Class Courses</span>
                        <h2 class="title">Explore Our Small Courses</h2>
                        <p class="desc">
                            Dive into our cutting-edge, project-based courses designed to give you hands-on experience with real-world projects. 
                            Whether you're looking to master web development, data science, or cybersecurity, our courses will equip you with practical 
                            skills to excel in the IT industry.
                        </p>
                    </div>
                    <div class="courses__nav">
                        <ul class="nav nav-tabs" id="courseTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all-tab-pane" type="button"
                                    role="tab" aria-controls="all-tab-pane" aria-selected="true">
                                    All Courses
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="frontend-tab" data-bs-toggle="tab" data-bs-target="#frontend-tab-pane" type="button"
                                    role="tab" aria-controls="frontend-tab-pane" aria-selected="false">
                                    Front End Technologies
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="backend-tab" data-bs-toggle="tab" data-bs-target="#backend-tab-pane" type="button"
                                    role="tab" aria-controls="backend-tab-pane" aria-selected="false">
                                    Back End Technologies
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="designing-tab" data-bs-toggle="tab" data-bs-target="#designing-tab-pane" type="button"
                                    role="tab" aria-controls="designing-tab-pane" aria-selected="false">
                                    Designing
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content" id="courseTabContent">
            <div class="tab-pane fade show active" id="all-tab-pane" role="tabpanel" aria-labelled{% comment %}By{% endcomment %}="all-tab" tabindex="0">
                <div class="swiper courses-swiper-active">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb01.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Development</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.8 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">Learning JavaScript With Imagination</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$15.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb02.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Design</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.5 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">The Complete Graphic Design for Beginners</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$19.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb03.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Marketing</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.3 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">Learning Digital Marketing on Facebook</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$24.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb04.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Business</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.8 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">Financial Analyst Training & Investing Course</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$12.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb05.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Data Science</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.5 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">Data Analysis & Visualization Masterclass</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>    
                                        </div>
                                        {% comment %} <h5 class="price">$27.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb06.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Mathematic</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.7 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">Master the Fundamentals of Math</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$10.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="courses__nav">
                    <div class="courses-button-prev"><i class="flaticon-arrow-right"></i></div>
                    <div class="courses-button-next"><i class="flaticon-arrow-right"></i></div>
                </div>
            </div>
            <div class="tab-pane fade" id="frontend-tab-pane" role="tabpanel" aria-labelled{% comment %}By{% endcomment %}="frontend-tab" tabindex="0">
                <div class="swiper courses-swiper-active">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb03.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Marketing</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.3 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">Learning Digital Marketing on Facebook</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$24.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb04.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Business</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.8 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">Financial Analyst Training & Investing Course</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$12.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb01.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Development</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.8 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">Learning JavaScript With Imagination</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$15.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb02.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Design</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.5 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">The Complete Graphic Design for Beginners</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$19.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb05.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Data Science</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.5 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">Data Analysis & Visualization Masterclass</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$27.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb06.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Mathematic</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.7 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">Master the Fundamentals of Math</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$10.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="courses__nav">
                    <div class="courses-button-prev"><i class="flaticon-arrow-right"></i></div>
                    <div class="courses-button-next"><i class="flaticon-arrow-right"></i></div>
                </div>
            </div>
            <div class="tab-pane fade" id="backend-tab-pane" role="tabpanel" aria-labelled{% comment %}By{% endcomment %}="business-tab" tabindex="0">
                <div class="swiper courses-swiper-active">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb02.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Design</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.5 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">The Complete Graphic Design for Beginners</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$19.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb03.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Marketing</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.3 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">Learning Digital Marketing on Facebook</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$24.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb04.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Business</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.8 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">Financial Analyst Training & Investing Course</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$12.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb05.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Data Science</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.5 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">Data Analysis & Visualization Masterclass</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$27.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb01.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Development</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.8 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">Learning JavaScript With Imagination</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$15.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb06.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Mathematic</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.7 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">Master the Fundamentals of Math</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$10.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="courses__nav">
                    <div class="courses-button-prev"><i class="flaticon-arrow-right"></i></div>
                    <div class="courses-button-next"><i class="flaticon-arrow-right"></i></div>
                </div>
            </div>
            <div class="tab-pane fade" id="designing-tab-pane" role="tabpanel" aria-labelled{% comment %}By{% endcomment %}="development-tab" tabindex="0">
                <div class="swiper courses-swiper-active">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb04.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Business</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.8 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">Financial Analyst Training & Investing Course</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$12.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb05.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Data Science</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.5 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">Data Analysis & Visualization Masterclass</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$27.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb06.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Mathematic</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.7 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">Master the Fundamentals of Math</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$10.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb01.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Development</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.8 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">Learning JavaScript With Imagination</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$15.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb02.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Design</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.5 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">The Complete Graphic Design for Beginners</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$19.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="courses__item shine__animate-item">
                                <div class="courses__item-thumb">
                                    <a href="course-details.html" class="shine__animate-link">
                                        <img src="{% static "assets/img/courses/course_thumb03.jpg" %}" alt="img">
                                    </a>
                                </div>
                                <div class="courses__item-content">
                                    <ul class="courses__item-meta list-wrap">
                                        <li class="courses__item-tag">
                                            <a href="course.html">Marketing</a>
                                        </li>
                                        <li class="avg-rating"><i class="fas fa-star"></i> (4.3 Reviews)</li>
                                    </ul>
                                    <h5 class="title"><a href="course-details.html">Learning Digital Marketing on Facebook</a></h5>
                                    <p class="author">{% comment %}By{% endcomment %} {% comment %}<a href="#">David Millar</a></p>{% endcomment %}
                                    <div class="courses__item-bottom">
                                        <div class="button">
                                            <a href="course-details.html">
                                                <span class="text">Enroll Now</span>
                                                <i class="flaticon-arrow-right"></i>
                                            </a>
                                        </div>
                                        {% comment %} <h5 class="price">$24.00</h5> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="courses__nav">
                    <div class="courses-button-prev"><i class="flaticon-arrow-right"></i></div>
                    <div class="courses-button-next"><i class="flaticon-arrow-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</section>