{% load static %}


<section class="instructor__area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-4">
                <div class="instructor__content-wrap">
                    <div class="section__title mb-15">
                        <span class="sub-title">Meet Our Experts</span>
                        <h2 class="title">Top-Class IT Instructors at Hello IT Academy</h2>
                    </div>
                    <p>At Hello IT Academy, our instructors are seasoned professionals with vast experience in the IT industry. They bring practical insights and knowledge to every lesson, ensuring you gain the skills needed to thrive.</p>
                    <div class="tg-button-wrap">
                        <a href="instructors.html" class="btn arrow-btn">See All Instructors <img src="{% static 'assets/img/icons/right_arrow.svg' %}" alt="arrow" class="injectable"></a>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-8">
                <div class="instructor__item-wrap">
                    <div class="row">
                        <!-- Instructor 1 -->
                        <div class="col-sm-6">
                            <div class="instructor__item">
                                <div class="instructor__thumb">
                                    <a href="instructor-details.html"><img src="{% static 'assets/img/instructor/instructor01.png' %}" alt="Mark Jukarberg"></a>
                                </div>
                                <div class="instructor__content">
                                    <h2 class="title"><a href="instructor-details.html">Mark Jukarberg</a></h2>
                                    <span class="designation">UX Design Lead</span>
                                    <p class="avg-rating">
                                        <i class="fas fa-star"></i>
                                        (4.8 Ratings)
                                    </p>
                                    <div class="instructor__social">
                                        <ul class="list-wrap">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Instructor 2 -->
                        <div class="col-sm-6">
                            <div class="instructor__item">
                                <div class="instructor__thumb">
                                    <a href="instructor-details.html"><img src="{% static 'assets/img/instructor/instructor02.png' %}" alt="Olivia Mia"></a>
                                </div>
                                <div class="instructor__content">
                                    <h2 class="title"><a href="instructor-details.html">Olivia Mia</a></h2>
                                    <span class="designation">Web Design Specialist</span>
                                    <p class="avg-rating">
                                        <i class="fas fa-star"></i>
                                        (4.8 Ratings)
                                    </p>
                                    <div class="instructor__social">
                                        <ul class="list-wrap">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Instructor 3 -->
                        <div class="col-sm-6">
                            <div class="instructor__item">
                                <div class="instructor__thumb">
                                    <a href="instructor-details.html"><img src="{% static 'assets/img/instructor/instructor03.png' %}" alt="William Hope"></a>
                                </div>
                                <div class="instructor__content">
                                    <h2 class="title"><a href="instructor-details.html">William Hope</a></h2>
                                    <span class="designation">Digital Marketing Expert</span>
                                    <p class="avg-rating">
                                        <i class="fas fa-star"></i>
                                        (4.8 Ratings)
                                    </p>
                                    <div class="instructor__social">
                                        <ul class="list-wrap">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Instructor 4 -->
                        <div class="col-sm-6">
                            <div class="instructor__item">
                                <div class="instructor__thumb">
                                    <a href="instructor-details.html"><img src="{% static 'assets/img/instructor/instructor04.png' %}" alt="Sophia Ava"></a>
                                </div>
                                <div class="instructor__content">
                                    <h2 class="title"><a href="instructor-details.html">Sophia Ava</a></h2>
                                    <span class="designation">Web Development Guru</span>
                                    <p class="avg-rating">
                                        <i class="fas fa-star"></i>
                                        (4.8 Ratings)
                                    </p>
                                    <div class="instructor__social">
                                        <ul class="list-wrap">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
