{% load static %}

<section class="newsletter__area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="newsletter__img-wrap">
                    <img src="{% static "assets/img/others/newsletter_img.png" %}" alt="img">
                    <img src="{% static "assets/img/others/newsletter_shape01.png" %}" alt="img" data-aos="fade-up" data-aos-delay="400">
                    <img src="{% static "assets/img/others/newsletter_shape02.png" %}" alt="img" class="alltuchtopdown">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="newsletter__content">
                    <h2 class="title">Want to stay <span>informed</span> about <br> new <span>courses & study?</span></h2>
                    <div class="newsletter__form">
                        <form action="#">
                            <input type="email" placeholder="Type your e-mail">
                            <button type="submit" class="btn">Subscribe Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="newsletter__shape">
        <img src="{% static "assets/img/others/newsletter_shape03.png" %}" alt="img" data-aos="fade-left" data-aos-delay="400">
    </div>
</section>