{% load static %}

<section class="instructor__area-two">
    <div class="container">
        <div class="instructor__item-wrap-two">
            <div class="row">
                <!-- Start Project-Based Learning Section -->
                <div class="col-xl-6">
                    <div class="instructor__item-two tg-svg">
                        <div class="instructor__thumb-two">
                            <img src="{% static 'assets/img/instructor/instructor_two01.png' %}" alt="img">
                            <div class="shape-one">
                                <img src="{% static 'assets/img/instructor/instructor_shape01.svg' %}" alt="img" class="injectable">
                            </div>
                            <div class="shape-two">
                                <span class="svg-icon" id="instructor-svg" data-svg-icon="{% static 'assets/img/instructor/instructor_shape02.svg' %}"></span>
                            </div>
                        </div>
                        <div class="instructor__content-two">
                            <h3 class="title"><a href="contact.html">Start Project-Based Learning</a></h3>
                            <p>At Hello IT Academy, we focus on hands-on projects that simulate real-world problems. Build your skills through practical experience and prepare for a successful career in IT.</p>
                            <div class="tg-button-wrap">
                                <a href="contact.html" class="btn arrow-btn">Apply Now <img src="{% static 'assets/img/icons/right_arrow.svg' %}" alt="img" class="injectable"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Start Learning by Courses Section -->
                <div class="col-xl-6">
                    <div class="instructor__item-two tg-svg">
                        <div class="instructor__thumb-two">
                            <img src="{% static 'assets/img/instructor/instructor_two02.png' %}" alt="img">
                            <div class="shape-one">
                                <img src="{% static 'assets/img/instructor/instructor_shape01.svg' %}" alt="img" class="injectable">
                            </div>
                            <div class="shape-two">
                                <span class="svg-icon" id="instructor-svg-two" data-svg-icon="{% static 'assets/img/instructor/instructor_shape02.svg' %}"></span>
                            </div>
                        </div>
                        <div class="instructor__content-two">
                            <h3 class="title"><a href="contact.html">Start Courses</a></h3>
                            <p>Explore our extensive range of IT courses tailored for beginners and experts alike. Dive into subjects of your choice and learn at your own pace with guided tutorials and assessments.</p>
                            <div class="tg-button-wrap">
                                <a href="contact.html" class="btn arrow-btn">Apply Now <img src="{% static 'assets/img/icons/right_arrow.svg' %}" alt="img" class="injectable"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

