{% load static %}

<section class="testimonial__area section-py-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section__title text-center mb-50">
                    <span class="sub-title">Our Testimonials</span>
                    <h2 class="title">What Students Think and Say About SkillGrow</h2>
                    <p>when known printer took a galley of type scrambl edmake</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="testimonial__item-wrap">
                    <div class="swiper-container testimonial-swiper-active">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonial__item">
                                    <div class="testimonial__item-top">
                                        <div class="testimonial__author">
                                            <div class="testimonial__author-thumb">
                                                <img src="{% static 'assets/img/others/testi_author01.png' %}" alt="img">
                                            </div>
                                            <div class="testimonial__author-content">
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <h2 class="title">Wade Warren</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testimonial__content">
                                        <p>“ when an unknown printer took alley ffferer area typey and scrambled to make a type specimen book hass”</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial__item">
                                    <div class="testimonial__item-top">
                                        <div class="testimonial__author">
                                            <div class="testimonial__author-thumb">
                                                <img src="{% static 'assets/img/others/testi_author02.png' %}" alt="img">
                                            </div>
                                            <div class="testimonial__author-content">
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <h2 class="title">Jenny Wilson</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testimonial__content">
                                        <p>“ when an unknown printer took alley ffferer area typey and scrambled to make a type specimen book hass”</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial__item">
                                    <div class="testimonial__item-top">
                                        <div class="testimonial__author">
                                            <div class="testimonial__author-thumb">
                                                <img src="{% static 'assets/img/others/testi_author03.png' %}" alt="img">
                                            </div>
                                            <div class="testimonial__author-content">
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <h2 class="title">Guy Hawkins</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testimonial__content">
                                        <p>“ when an unknown printer took alley ffferer area typey and scrambled to make a type specimen book hass”</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial__item">
                                    <div class="testimonial__item-top">
                                        <div class="testimonial__author">
                                            <div class="testimonial__author-thumb">
                                                <img src="{% static 'assets/img/others/testi_author02.png' %}" alt="img">
                                            </div>
                                            <div class="testimonial__author-content">
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <h2 class="title">Jenny Wilson</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testimonial__content">
                                        <p>“ when an unknown printer took alley ffferer area typey and scrambled to make a type specimen book hass”</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial__nav">
                        <button class="testimonial-button-prev"><i class="flaticon-arrow-right"></i></button>
                        <button class="testimonial-button-next"><i class="flaticon-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>