{% load static %}

<div class="tg-header__top">
    <div class="container custom-container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="tg-header__top-info list-wrap">
                    <li><img src="{% static "assets/img/icons/map_marker.svg" %}" alt="Icon"> <span>RK Iconics, 150 ft Ring Road, Nr. Ayodhya Circle, Rajkot, Gujarat</span></li>
                    <li><img src="{% static "assets/img/icons/envelope.svg" %}" alt="Icon"> <a href="mailto:info@skillgrodemo.com">info@helloitacademy.com</a></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="tg-header__top-right">
                    <div class="tg-header__phone">
                        <img src="{% static "assets/img/icons/phone.svg" %}" alt="Icon">Call us: <a href="tel:0123456789">+91-8511583131</a>
                    </div>
                    <ul class="tg-header__top-social list-wrap">
                        <li>Follow Us On :</li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>